EXPO_PUBLIC_NewsAPI_BASE_URL=NewsAPI_URL_here
EXPO_PUBLIC_GNews_BASE_URL=GNews_URL_here
EXPO_PUBLIC_The_Guardian_API_BASE_URL=The_Guardian_API_URL_here
EXPO_PUBLIC_NewsAPIAI_BASE_URL=NewsAPIAI_URL_here
EXPO_PUBLIC_GUARDIAN_API_KEY=your_guardian_api_key_here
